*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    width: 80vw;
    height: 120px;
    background-color: aqua;
    margin: 0 auto;
}

.corpo{
    width: 80vw;
    height: calc(100vw - 240px);
    margin: 0 auto;
    background-color: blue;
}

.menu{
    width: 100px;
    height: 100%;
    background-color: green;
    display: inline-block;
}

.conteudo{
    width: calc(80vw - 105px);
    height: 100%;
    background-color: black;
    display: inline-block;
}

.rodape{
    width: 80vw;
    height: 120px;
    background-color: red;
    margin: 0 auto;
}