body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

div{
    border: 1px dotted black;
    width: 30px;
    font-size: 20px;
    text-align: center;
    height: 80px;
    flex-grow: 1;
}
